@page "/"

<PageTitle>Index</PageTitle>

<h1>Witamy w pizzeri dopieszczonej na 5!</h1>

Witamy i zapraszamy do złożenia zamówienia!
<br />

<b>To jest tylko przykład, jeśli zapłacisz pizze nie zostanie dostarczona xd</b>
