@page "/"

<PageTitle>Index</PageTitle>
<style>
    p {
        background-image: url('img/tło.jpg');
    }
</style>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
