@page "/Menu"

<div class="main">
    <ul class="pizza-cards">
        @if (Pizze != null)
        {
            @foreach (var pizza in Pizze)
            {
                <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                    <div class="card-header">
                        <h3>@pizza.Nazwa</h3>
                    </div>
                    <img class="card-img-top imageThumbnail" src="@pizza.Img" />
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary m-1">Dodaj do zamówienia</a>

                    </div>
                </div>

            }
        }
    </ul>
</div>
@code {
    List<Pizza> Pizze = File.ReadAllLines("Dane.csv")
                                       .Skip(1)
                                       .Select(v => Pizza.FromCsv(v))
                                       .ToList();

}
