@page "/Menu"


<div class="row">
    @if (Pizze != null)
    {@foreach (var pizza in Pizze)
        {
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">@pizza.Nazwa</h5>
                        <img class="card-img-top imageThumbnail" src="@pizza.Img" />
                        <p class="card-text">@pizza.Opis</p>
                        <a href="#" class="btn btn-primary">Dodaj do zamówniea</a>

                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    List<Pizza> Pizze = File.ReadAllLines("Dane.csv")
                                       .Skip(1)
                                       .Select(v => Pizza.FromCsv(v))
                                       .ToList();

}
