@page "/Data/PizzeSQL"
@using SqlData
@using SqlData.Modele

@inject IPizzeSQL _db

<h1>Pizze</h1>


<h4>Current Available Pizzas</h4>
@if (pizze is null)
{
    <p><em>Loading...</em></p>
}
else
{
   <div class="card-deck">
    @foreach (var pizza in pizze)
    {
    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
        <div class="card-header">
            <h3>@pizza.Name Cena @pizza.Price</h3>
        </div>
        <img class="card-img-top imageThumbnail" src="@pizza.ImageUrl" />
        <div class="card-footer text-center">
                    <h3>Opis @pizza.Description</h3>
        </div>
    </div>
    }
</div>

}

@code {
    private List<SqlData.Modele.PizzaSQL> pizze;

    protected override async Task OnInitializedAsync()
    {
        pizze = await _db.GetPizzas();
    }
}